.home-page {
    display: block;
    width: 100%;
}

img {
    display: block;
}

.video-player {
    position: relative
}

.center-logo {
    position: absolute;
    top: 45%;
    left: 50%;
    height: 50%;
    transform: translate(-50%, -50%);

}

.center-logo img {
    width: 100%;
    height: 120%;
    margin: 0 auto;
    margin-bottom: 50px;
}


.arrow-down {

    font-size: 25px;
    color: white;
}

.arrow-down:hover {
    color: gray;
    cursor: pointer;
}