.navbar {
  top: 0;
  width: 100%;
  background-color: salmon;
  font-size: 18px;
  box-sizing: border-box;
  font-family: 'Chakra Petch', sans-serif
}

.top-navbar {
  color: white;
  width: 100%;
  height: auto;
  background-color: rgb(25, 29, 61);
  padding: 12px;
  display: flex;
  justify-content: space-between;
  /* font-size:2rem; */
  box-sizing: border-box;
  overflow: visible;
  align-items: center;

}

/* .top-navbar-right {
    justify-content: flex-end;
    display: inline-flex;
    flex: 1 1 0%;
} */

.top-navbar-left {
  display: flex;
  align-items: center;
}

.top-navbar-logo {
  margin-left: 2rem;
  padding-top: 5px;
}

.top-navbar-logo img {
  width: 70px;
}

.top-navbar-text {
  margin-top: 10px;
  margin-left: 10px;
  align-items: flex-start;
  flex-direction: column;
}

.top-navbar-text1 {
  display: flex;
  font-size: 30px;
  margin-bottom: 0.5rem;

}

.top-navbar-text2 {
  font-size: 15px;
}

.menu-list {
  margin-left: 10px;
}

.vote-dropbtn {
  background-color: transparent;
}

.vote-dropbtn:hover {
  cursor: default;
}

.vote-dropdown {
  position: relative;
  display: inline-block;
}

.vote-dropdown-content {
  /* border: white 1px solid; */
  display: none;
  position: absolute;
  background-color: rgb(25, 29, 61);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.vote-dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.vote-dropdown-content a:hover {
  background-color: #ddd;
}

.vote-dropdown:hover .vote-dropdown-content {
  display: block;

}

.vote-dropdown:hover .vote-dropbtn {
  background-color: rgb(25, 29, 61);
  color: white;
}


/* 
.top-navbar ul {
  text-align: right;
} */

/* .top-navbar li a{
  color: black;
  float: right;
} */
.top-navbar-right {
  margin-right: 20px;
}

/* .bottom-navbar {
  width: auto;
  padding: 16px;
  background-color: #335568;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

li {
  float: left;
}

li a,
li p {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px 16px;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: white;
  color: Black;
}